<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <nav th:replace="fragments :: navFrag"></nav>

    <form method="post">
        <div class="form-group">
            <label>
                Event
                <input class="form-control" th:field="${event.name}">
            </label>
            <p class="text-danger" th:errors="${event.name}"></p>
        </div>
        <div class="form-group">
            <label>
                Description
                <input class="form-control" th:field="${event.description}">
            </label>
            <p class="text-danger" th:errors="${event.description}"></p>
        </div>
        <div class="form-group">
            <label>
                Contact Email
                <input class="form-control" th:field="${event.contactEmail}">
            </label>
            <p class="text-danger" th:errors="${event.contactEmail}"></p>
        </div>
        <div class="form-group">
            <label>
                Venue
                <input class="form-control" th:field="${event.eventLocation}">
            </label>
            <p class="text-danger" th:errors="${event.eventLocation}"></p>
        </div>
        <div class="form-group">
            <label>
                Registration Required?
                <input type="checkbox" class="form-control" th:field="${event.mustRegister}">
            </label>
            <p class="text-danger" th:errors="${event.mustRegister}"></p>
        </div>
        <div class="form-group">
            <label>
                # of Attendees
                <input type="number" class="form-control" th:field="${event.numberAttending}">
            </label>
            <p class="text-danger" th:errors="${event.numberAttending}"></p>
        </div>
        <div class="form-group">
            <label>
                Date
                <input type="date" class="form-control" th:field="${event.eventDate}">
            </label>
            <p class="text-danger" th:errors="${event.eventDate}"></p>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Create Event">
        </div>
    </form>

    </body>
</html>