<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: navFrag"></nav>

    <form method="post">
        <label>
            Event Name
            <input type="text" name="eventName">
        </label>
        <label>
            Description
            <input type="text" name="eventDescription">
        </label>
        <input type="submit" value="Create Event">
    </form>

    </body>
</html>