<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navFrag"></nav>

<p th:unless="${events} and ${events.size()}">No Events Scheduled; Check back later!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact Email</th>
            <th>Venue</th>
            <th>Registration Required?</th>
            <th># of Attendees</th>
            <th>Date</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}">Event ID</td>
        <td th:text="${event.name}">Event Name</td>
        <td th:text="${event.description}">Event Description</td>
        <td th:text="${event.contactEmail}">Contact Email</td>
        <td th:text="${event.eventLocation}">Event Location</td>
        <td th:text="${event.mustRegister}">Registration?</td>
        <td th:text="${event.numberAttending}">Number of Attendees</td>
        <td th:text="${event.eventDate}">Event Date</td>
    </tr>
</table>

</body>
</html>