<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navFrag"></nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
    </tr>
    </thead>
    <tr th:each="category : ${categories}">
        <td><a th:text="${category.id}" th:href="'/events/?categoryId=' + ${category.id}">Category Id</a></td>
        <td><a th:text="${category.name}" th:href="'/events/?categoryId=' + ${category.id}">Category Name</a></td>
    </tr>
</table>

</body>
</html>