<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navFrag"></nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
    </tr>
    </thead>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}">Category ID</td>
        <td th:text="${category.name}">Category Name</td>
    </tr>
</table>

</body>
</html>